.page {


  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  background-color: var(--black);
  color: var(--pink);
  font-family: var(--font-righteous);

  font-size: 1.5em;
}
/*
@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
} */

.main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-image: url("/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  gap: 8px;

  text-align: center;

  padding: 20px;
  box-sizing: border-box;
}


.mainLogo {
  width: 60%;
  margin-bottom: 16px;
}


@media (max-width: 600px) {
  .page {
    font-size: 1.3em;
  }
  .mainLogo {
    width: 90%;
  }

}
