---
import InsideLayout from '../layouts/InsideLayout.astro';


import { requireUser, redirectToLogin } from '../lib/auth.js';

let userData;

export const prerender = false;

try {
  userData = await requireUser(Astro.request.headers);

} catch {
  return redirectToLogin();
}

var user = userData.fields;


---

<InsideLayout currentPage="cash-in">


<main>

<p>cash in your chips for awesome shop items!</p>
<p>shop is not fully set up yet, but so far we have (chip price in brackets):</p>
<br/>
<p>spin for a sticker (2) · choose a sticker (3) · $10 steam gift card (25) · $10 itch.io credit (25) · $25 fangamer gift card (60) · ikea blahaj/djungelskog/blavingad (75) · $100 steam publishing credit (200) · steam deck (800) · nintendo switch (800) </p>

</main>

</InsideLayout>


<style>
main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
}


</style>
