---
import LinkButton from '../components/LinkButton.astro';

import BackgroundLayout from '../layouts/BackgroundLayout.astro';


import Wheel from '../components/Wheel.astro';



import { requireUser, redirectToLogin } from '../lib/auth.js';

let userData;

export const prerender = false;

try {
  userData = await requireUser(Astro.request.headers);

} catch {
	userData = null;
}


---


<BackgroundLayout>
<div class="foreground">
	<img class="logo" src="/logo.png" alt="" fetchpriority="high"/>
	<p>spin wheels. make games. get prizes.</p>
	<p>starts 8 august.</p>

	{ userData == null
		? <LinkButton href="/api/auth/slack" newpage arrow>sign in with slack</LinkButton>
		: <LinkButton href="/spin" newpage arrow>enter roulette</LinkButton>
	}

	<Wheel wheelChoice="camera"></Wheel>

</div>
</BackgroundLayout>



<style>

	.foreground {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: column;
		padding: 20px;
		box-sizing: border-box;
	}

	.foreground .logo {
		margin-bottom: 16px;
		width: 60%;
	}




	.foreground p {
		margin: 8px 0;
	}




	@media (max-width: 600px) {
		.foreground .logo {
			width: 90%;
		}


	}

</style>
