---
import InsideLayout from '../../layouts/InsideLayout.astro';

import { requireUser, redirectToLogin } from '../../lib/auth.js';
import { userWager } from '../../lib/airtable.js';

let userData;

export const prerender = false;

try {
  userData = await requireUser(Astro.request.headers);

} catch {
  return redirectToLogin();
}

var user = userData.fields;

// if user wagered already for this round - redirect to dashboard

---


<InsideLayout currentPage="spin">



<button onclick=`chooseWager("1.5x")`>test</button>
<button onclick=`chooseWager("2x")`>test</button>
<button onclick=`chooseWager("3x")`>test</button>

</main>

</InsideLayout>


<style>
main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
}


</style>


<script client:load>



async function chooseWager(choice) {

  const res = await fetch('/api/wager', {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify({
      wagerChoice: choice,
      wagerAmount: 10,
    }),
  });

  const data = await res.json();

  console.log(data);
  console.log("spun!")

  if (data == "success") {
    window.location.href = '/spin/wheel';
  }

}


</script>
