---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/jpg" href="/icon.png">

		<title>Gamedev Roulette</title>
		<meta name="description" content="Spin wheels. Make games. Get prizes.">

		<meta property="og:url" content="https://roulette.hackclub.com">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Gamedev Roulette">
		<meta property="og:description" content="Spin wheels. Make games. Get prizes.">
		<meta property="og:image" content="/ogimg.png">

		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="roulette.hackclub.com">
		<meta property="twitter:url" content="https://roulette.hackclub.com">
		<meta name="twitter:title" content="Gamedev Roulette">
		<meta name="twitter:description" contents="Spin wheels. Make games. Get prizes.">
		<meta name="twitter:image" content="/ogimg.png">

		<meta name="theme-color" content="#FF698A">

		<link rel="canonical" href="https://roulette.hackclub.com">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;

	}

	html {
		width: 100vw;
		height: 100vh;
	}

	body {
		width: 100%;
		height: 100%;
	}




</style>
